.acerca-de
    margin-top: 20vh
    text-align: center
    .informacion
        background-color: #eee
        text-align: center
        padding: 20px 50px
        border-radius: 10px
        h3,h4
            color: #457b9d
            margin-bottom: 10px
        .info-1, .info-2
            color: #333030
            text-align: left
        .info-2
            text-align: right
        span
            color: #f77f00
             