@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap')

header
    height: 78vh 
    overflow: hidden
    background: url('background.jpg') fixed no-repeat  #3277c0
    background-size: cover
    text-align: center

    .nombre-profesion
        backdrop-filter: blur(2px ) 
        display: inline-block
        margin-top: 30vh
        padding: 40px
        border: 1px solid #fff
        font-family: 'Quicksand', sans-serif

        border-radius: 10px
        h1
            font-weight: 800
            color: #fff
            font-size: 3.75rem
        h2
            font-weight: 300
            color: #fff
            font-size: 1.875rem    