@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
  color: #333030;
}

.container {
  max-width: 85%;
  margin: auto;
}

header {
  height: 78vh;
  overflow: hidden;
  background: url("background.jpg") fixed no-repeat #3277c0;
  background-size: cover;
  text-align: center;
}

header .nombre-profesion {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: inline-block;
  margin-top: 30vh;
  padding: 40px;
  border: 1px solid #fff;
  font-family: 'Quicksand', sans-serif;
  border-radius: 10px;
}

header .nombre-profesion h1 {
  font-weight: 800;
  color: #fff;
  font-size: 3.75rem;
}

header .nombre-profesion h2 {
  font-weight: 300;
  color: #fff;
  font-size: 1.875rem;
}

nav {
  width: 100vw;
  position: fixed;
  padding: 20px;
  z-index: 2;
  text-align: right;
  -webkit-box-shadow: 0px 3px 11px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 3px 11px -5px rgba(0, 0, 0, 0.75);
  background-color: rgba(11, 42, 79, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

nav ul {
  margin-right: 200px;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
  font-size: 1.25rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 3;
}

nav ul li a::after {
  bottom: 0;
  content: "";
  height: .125rem;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav ul li a:hover::after, nav ul li a:focus::after, nav ul li a:active::after {
  width: 100%;
  left: 0;
}

main .container {
  margin-top: 10vh;
  padding: 20vh 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.proyecto img {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.45);
  -webkit-transition: .5s;
  transition: .5s;
}

.proyecto img:hover {
  bottom: 10px;
  position: relative;
  -webkit-box-shadow: 0px 20px 10px -12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 10px -12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.Modal {
  position: absolute;
  z-index: 4;
  top: 40px;
  left: 20%;
  right: 20%;
  bottom: 40px;
  background: none;
  text-align: right;
}

.Modal .card__header {
  border-radius: 10px 10px 0 0;
  background-color: rgba(12, 106, 221, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Modal .card__header .card__title {
  display: inline-block;
  padding: 10px;
}

.Modal .card__header span {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
}

.Modal .card__body {
  padding: 10px 40px;
  background-color: #eee;
  width: 100%;
  height: 95%;
  border-radius: 0 0 10px 10px;
  margin: auto;
  text-align: left;
}

.Modal .card__body img {
  display: block;
  margin: auto;
  border-radius: 5px;
  width: 80%;
  margin-bottom: 20px;
}

.Modal .card__body .card__text {
  min-height: 70px;
  max-height: 70px;
  overflow: auto;
  margin-bottom: 10px;
}

.Modal .card__body .card__categories {
  text-align: left;
  color: #f77f00;
  margin-bottom: 20px;
}

.Modal .card__body a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 10px;
  background: #ccc;
  text-align: center;
}

.Overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(52, 52, 52, 0.6);
}

.ReactModal__Overlay {
  opacity: 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.acerca-de {
  margin-top: 10vh;
  text-align: center;
}

.acerca-de .informacion {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.38);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.38);
  background-color: #fff;
  text-align: center;
  padding: 5vh 20px;
  border-radius: 10px;
}

.acerca-de .informacion h3, .acerca-de .informacion h4 {
  color: #2966ac;
  margin: 0px 50px;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.acerca-de .informacion .info-1, .acerca-de .informacion .info-2 {
  color: #333030;
  text-align: left;
}

.acerca-de .informacion .info-2 {
  margin-top: 20px;
  text-align: right;
}

.acerca-de .informacion span {
  color: #f77f00;
}

.acerca-de .informacion img {
  width: 25%;
  margin-top: 30px;
}

footer .container {
  margin-top: 30vh;
  text-align: center;
}

.contacto .container {
  margin: 0;
  background-color: #fff;
  margin: auto;
  width: 40%;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.38);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.38);
}

.contacto .container h3 {
  text-align: center;
  margin-bottom: 10px;
}

.contacto .container img {
  display: inline-block;
  width: 40%;
}

.contacto form {
  width: 60%;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 1px 0px 6px 0px rgba(0, 0, 0, 0.48);
          box-shadow: 1px 0px 6px 0px rgba(0, 0, 0, 0.48);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.contacto form input, .contacto form textarea {
  background: #fff;
  border: none;
  width: 90%;
  padding: 10px;
  margin-bottom: 5px;
}

.contacto form input[type='text'],
.contacto form input[type='email'],
.contacto form textarea {
  border-bottom: 2px solid #2966ac;
}

.contacto form input[type='text']:focus,
.contacto form input[type='email']:focus,
.contacto form textarea:focus {
  border-bottom: 2px solid #f77f00;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.contacto form input::-webkit-input-placeholder, .contacto form textarea::-webkit-input-placeholder {
  color: #2966ac;
}

.contacto form input:-ms-input-placeholder, .contacto form textarea:-ms-input-placeholder {
  color: #2966ac;
}

.contacto form input::-ms-input-placeholder, .contacto form textarea::-ms-input-placeholder {
  color: #2966ac;
}

.contacto form input::placeholder, .contacto form textarea::placeholder {
  color: #2966ac;
}

.contacto form textarea {
  min-height: 130px;
  max-height: 130px;
}

.contacto form input[type='button'] {
  background: #2966ac;
  width: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
}

.contacto form input[type='button']:hover {
  background: #f77f00;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.contacto form input[type='button']:active {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65) inset;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65) inset;
  background: #b55f03;
}

.contacto .redes-sociales i {
  padding: 10px 20px;
  margin: 0 5px;
  color: #fff;
  font-size: 1.5rem;
  background-color: #000;
}
/*# sourceMappingURL=App.css.map */