* 
    padding: 0
    margin: 0
    box-sizing: border-box
    &:focus
        outline: none

html 
    scroll-behavior: smooth
    
body
    background-image: linear-gradient(to bottom, #d3d6d9, #cfd4d7, #ccd1d4, #c8cfd2, #c4cdcf)
    font-family: 'Open Sans', sans-serif
    // margin-bottom: 2000px

.container 
    max-width: 85%
    margin: auto
    
//fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap')
//components
@import Header
@import Menu
@import Main
@import Proyecto
@import Acerca_De