@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
  color: #333030;
}

.container {
  max-width: 85%;
  margin: auto;
}

header {
  height: 78vh;
  overflow: hidden;
  background: url("background.jpg") fixed no-repeat #3277c0;
  background-size: cover;
  text-align: center;
}

header .nombre-profesion {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: inline-block;
  margin-top: 30vh;
  padding: 40px;
  border: 1px solid #fff;
  font-family: 'Quicksand', sans-serif;
  border-radius: 10px;
}

header .nombre-profesion h1 {
  font-weight: 800;
  color: #fff;
  font-size: 3.75rem;
}

header .nombre-profesion h2 {
  font-weight: 300;
  color: #fff;
  font-size: 1.875rem;
}

nav {
  width: 100vw;
  position: fixed;
  padding: 20px;
  z-index: 2;
  text-align: right;
  -webkit-box-shadow: 0px 3px 11px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 3px 11px -5px rgba(0, 0, 0, 0.75);
  background-color: rgba(11, 42, 79, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

nav ul {
  margin-right: 100px;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
  font-size: 1.25rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 3;
}

nav ul li a::after {
  bottom: 0;
  content: "";
  height: .125rem;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav ul li a:hover::after, nav ul li a:focus::after, nav ul li a:active::after {
  width: 100%;
  left: 0;
}

nav .checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  margin-right: 2.5rem;
  cursor: pointer;
}

nav #check, nav .checkbtn {
  display: none;
}

@media screen and (max-width: 48rem) {
  nav {
    -webkit-box-shadow: none;
            box-shadow: none;
    background: none;
    background-filter: none;
    blur: none;
    z-index: 2;
    padding: 0;
  }
  nav .checkbtn {
    display: block;
    margin-top: 10px;
    position: relative;
    z-index: 3;
  }
  nav ul {
    position: absolute;
    width: 35vw;
    padding-top: 2rem;
    height: 100vh;
    right: -100%;
    background-color: rgba(11, 42, 79, 0.3);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    -webkit-transition: all .5s;
    transition: all .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  nav ul li {
    margin-top: 70px;
  }
  nav ul li a {
    font-size: 1.25rem;
  }
  nav #check:checked ~ ul {
    right: 0;
  }
}

main .container {
  padding-bottom: 30vh;
  padding-top: 30vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.proyecto img {
  position: relative;
  bottom: 0;
  border-radius: 10px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.45);
  margin: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.proyecto img:hover {
  bottom: 10px;
  position: relative;
  -webkit-box-shadow: 0px 20px 10px -12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 10px -12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(52, 52, 52, 0.6);
  -webkit-transition: top 300ms;
  transition: top 300ms;
}

.Modal {
  position: absolute;
  z-index: 4;
  top: 10%;
  left: 25%;
  right: 25%;
  bottom: 20%;
  background: none;
  text-align: right;
}

.Modal .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  color: #fff;
}

.Modal .header .titulo {
  display: block;
  margin-right: auto;
}

.Modal .header .borrar {
  cursor: pointer;
}

.Modal .header .borrar:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #ef233c;
}

.Modal .body {
  background-color: #eeeeee;
  width: 100%;
  margin: auto;
  text-align: left;
}

.Modal .body img {
  width: 100%;
}

.Modal .body .descripcion {
  padding: 10px;
  min-height: 100px;
  max-height: 100px;
  overflow: auto;
  margin-bottom: 10px;
}

.Modal .body .card-container .categorias {
  display: inline-block;
  padding-left: 10px;
  text-align: left;
  color: #f77f00;
  width: 30%;
}

.Modal .body .card-container .link {
  display: inline-block;
  text-align: right;
  width: 70%;
}

.Modal .body .card-container .link a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  padding: 10px 20px;
  color: #2966ac;
  margin-right: 10px;
  margin-bottom: 5px;
}

.Modal__Overlay {
  opacity: 0;
  top: -100px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.Modal__Overlay--open {
  opacity: 1;
  top: 0;
}

.ReactModal__Overlay--close {
  opacity: 0;
  top: -100px;
}

.acerca-de {
  padding-bottom: 20vh;
  padding-top: 15vh;
  text-align: center;
}

.acerca-de .informacion {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.38);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.38);
  background-color: #fff;
  text-align: center;
  padding: 5vh 20px;
  border-radius: 10px;
}

.acerca-de .informacion h3, .acerca-de .informacion h4 {
  color: #2966ac;
  margin: 0px 50px;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.acerca-de .informacion .info-1, .acerca-de .informacion .info-2 {
  color: #333030;
  text-align: left;
}

.acerca-de .informacion .info-2 {
  margin-top: 20px;
  text-align: right;
}

.acerca-de .informacion span {
  color: #f77f00;
}

.acerca-de .informacion img {
  width: 25%;
  margin-top: 30px;
}

footer .container {
  padding-top: 15vh;
  text-align: center;
}

.contacto .container {
  margin: 0;
  background-color: #fff;
  margin: auto;
  width: 40%;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.38);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.38);
}

.contacto .container h3 {
  text-align: center;
  margin-bottom: 10px;
}

.contacto .container img {
  display: inline-block;
  width: 40%;
}

.contacto form {
  width: 60%;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 1px 0px 6px 0px rgba(0, 0, 0, 0.48);
          box-shadow: 1px 0px 6px 0px rgba(0, 0, 0, 0.48);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.contacto form input, .contacto form textarea {
  background: #fff;
  border: none;
  width: 90%;
  padding: 10px;
  margin-bottom: 5px;
}

.contacto form input[type='text'],
.contacto form input[type='email'],
.contacto form textarea {
  border-bottom: 1px solid #2966ac;
}

.contacto form input[type='text']:focus,
.contacto form input[type='email']:focus,
.contacto form textarea:focus {
  border-bottom: 1px solid #f77f00;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.contacto form input::-webkit-input-placeholder, .contacto form textarea::-webkit-input-placeholder {
  color: #2966ac;
}

.contacto form input:-ms-input-placeholder, .contacto form textarea:-ms-input-placeholder {
  color: #2966ac;
}

.contacto form input::-ms-input-placeholder, .contacto form textarea::-ms-input-placeholder {
  color: #2966ac;
}

.contacto form input::placeholder, .contacto form textarea::placeholder {
  color: #2966ac;
}

.contacto form textarea {
  resize: none;
  height: 130px;
}

.contacto form input[type='submit'] {
  background: #2966ac;
  width: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
}

.contacto form input[type='submit']:hover {
  background: #f77f00;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.contacto form input[type='submit']:active {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65) inset;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65) inset;
  background: #b55f03;
}

.error {
  display: block;
  color: #ef233c;
  text-align: left;
  width: 90%;
  margin: auto;
  font-size: .9rem;
  margin-bottom: 2px;
}

.error::before {
  content: '⚠ ';
  display: inline;
}

footer .redes-sociales {
  margin-top: 10px;
  text-align: center;
  padding: 30px 0;
  background: url("background.jpg") fixed no-repeat #3277c0;
  background-size: cover;
}

footer .redes-sociales i {
  position: relative;
  padding: 10px 10px;
  margin: 0 20px;
  border-radius: 100%;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

footer .redes-sociales i::after {
  bottom: 0;
  content: "";
  height: .125rem;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

footer .redes-sociales i:hover::after {
  width: 100%;
  left: 0;
}

footer .redes-sociales i:active {
  -webkit-transition: .3s;
  transition: .3s;
  color: #ccc;
}

@media screen and (max-width: 64em) {
  nav ul {
    margin-right: 0;
  }
  .Modal {
    top: 10%;
    left: 20%;
    right: 20%;
  }
}

@media screen and (max-width: 48rem) {
  main .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .Modal {
    left: 15%;
    right: 15%;
  }
  .Modal .body .card-container .categorias, .Modal .body .card-container .link {
    width: 100%;
  }
  .Modal .body .card-container .categorias a, .Modal .body .card-container .link a {
    padding: 10px 10px;
  }
  .contacto .container {
    width: 60%;
  }
  .contacto form {
    width: 80%;
  }
}

@media screen and (max-width: 27rem) {
  nav ul {
    width: 50vw;
  }
  header .nombre-profesion {
    padding: 20px;
  }
  header .nombre-profesion h1 {
    font-size: 2.5rem;
  }
  header .nombre-profesion h2 {
    font-size: 1.5rem;
  }
  main .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .Modal {
    top: 10%;
    left: 5%;
    right: 5%;
  }
  .acerca-de .informacion {
    padding: 5vh 15px;
  }
  .acerca-de .informacion h3, .acerca-de .informacion h4 {
    font-size: 1.1rem;
    margin: 15px 10px;
  }
  .acerca-de .informacion img {
    width: 50%;
  }
  .contacto .container {
    width: 80%;
  }
  .contacto form {
    width: 100%;
  }
}
/*# sourceMappingURL=App.css.map */