@import "../../styles/mediaqueries";
@import "../../styles/Variables";
.aboutme {
  padding-bottom: 20vh;
  padding-top: 15vh;
  text-align: center;
  @include mobile-size {padding-top: 7vh}
  .information {
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.38);
    background-color: $thirdColor;
    text-align: center;
    padding: 5vh 20px;
    border-radius: 10px;
    h3,
    h4 {
      color: $mainColor;
      margin: 0px 50px;
      font-size: 1.3rem;
      margin-bottom: 10px;
    }
    .info-1,
    .info-2 {
      text-align: left;
    }
    .info-2 {
      margin-top: 20px;
      text-align: right;
    }
    span {
      color: $secondaryColor;
    }
    img {
      width: 25%;
      margin-top: 30px;
    }
    button {
      margin-top: 20px;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: .3125rem;
      border: 2px solid $secondaryColor;
      background: none;
      font-size: 1.1rem;
      transition: all .2s ease-in-out;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 6px 0px rgba($secondaryColor,.38);
        cursor: pointer;
      }
      a {
        text-decoration: none;
        color: $textColor;
      }
    }
    @include mobile-size {
      padding: 5vh 15px;
      h3,h4{
        font-size: 1.1rem;
        margin: 15px 10px;
      }
      img {
        width: 50%
      }
    }
  }
}